<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index.css">
    <title>万華鏡をつくろう</title>
</head>
<body>
    <h1>万華鏡を作ろう</h1>
    <p>好きな画像で万華鏡を作ってみよう！</p>
    <form method="POST" action="./kaleidoscope" enctype="multipart/form-data">
        <input type="file" name="file">
        <button type="submit">実行</button>
</body>
</html>